  
 
 <h4><%= @user.first_name %><%= @user.last_name %>さんの会員詳細</h4>
 会員ID　<%= @user.id %></br>
 氏名 <%= @user.first_name %><%= @user.last_name %>
 フリガナ<%= @user.first_name_kana %> <%= @user.last_name_kana %>
 郵便番号<%= @user.postal_code %>
 住所<%= @user.address %>
 電話番号<%= @user.telephone_number %>
 メールアドレス<%= @user.email %>
 会員ステータス
 
 <%= link_to "編集する", edit_admins_user_path(user.id) %>