<h1>商品新規登録</h1>

<%= form_with model: @item, url:'/items', local:true do |f| %>
<h5>商品画像</h5>
 <%= f.attachment_field :image  %>
 <h5>商品名</h5>
 <%= f.text_field :name, class:"form-control" %>
 <h5>商品説明</h5>
   <%= f.text_area :introduction, class:"form-control" %>
 <h5>ジャンル</h5>
  %= f.collection_select :genre_id, Genre.all, :id, :genre_name %>
 <h5>税抜価格</h5>
 <%= f.text_field :price, class:"form-control" %>
 　
  <%= f.submit "この内容で登録する", class:"btn btn-primary btn-block btn-base-1 mt-20" %>
  
  <% end %>
  
  